[submodule "clones/vidir"]
	path = clones/vidir
	url = git@github.com:trapd00r/vidir.git
[submodule "clones/tpick"]
	path = clones/tpick
	url = git@github.com:smblott-github/tpick.git
[submodule "clones/zsh-syntax-highlighting"]
	path = clones/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
